$logoGreen : #669B41;
$logoYellow : #F9B72D;
$logoPurple : #93267D;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    scroll-behavior: smooth;
}

/* common classes*/
.sectionTitle {
    text-align: center;
    padding-bottom: 30px;
    h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: $logoPurple;
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 120px;
            height: 1px;
            background: $logoGreen;
            bottom: 1px;
            left: calc(50% - 60px);
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 3px;
            background: $logoYellow;
            bottom: 0;
            left: calc(50% - 20px);
        }
    }
}

/*box shadoow */
@mixin BoxShadow ($HrShadow,$VrShadow,$Blur,$SpreadRadius8px,$rgba) {
    box-shadow: $HrShadow $VrShadow $Blur $SpreadRadius8px $rgba;
    -webkit-box-shadow: $HrShadow $VrShadow $Blur $SpreadRadius8px $rgba;
    -moz-box-shadow: $HrShadow $VrShadow $Blur $SpreadRadius8px $rgba;
}

/*Custom Butoon*/
@mixin btn-border-drawing($color: #ccc, $hover: black, $width: 2px, $vertical: top, $horizontal: left, $duration: 0.25s) {
    box-shadow: inset 0 0 0 $width $color;
    color: $color;
    transition: color $duration $duration/3;
    position: relative;
    
    &::before,
    &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0; height: 0;
        
        #{$vertical}: 0; 
        #{$horizontal}: 0;
    }
    &::before {
        $h-side: if($horizontal == 'left', 'right', 'left');
        
        border-#{$vertical}-width: $width;
        border-#{$h-side}-width: $width;
    }
    
    &::after {
        $v-side: if($vertical == 'top', 'bottom', 'top');
        
        border-#{$v-side}-width: $width;
        border-#{$horizontal}-width: $width;
    }
    
    &:hover {
        color: $hover;
        background-color: #fff;
        &::before,
        &::after {
            border-color: $hover;
            transition: border-color 0s, width $duration, height $duration;
            width: 100%;
            height: 100%;
        }

        &::before { transition-delay: 0s, 0s, $duration; }
        
        &::after { transition-delay: 0s, $duration, 0s; }
    }
}

.draw-border {
    @include btn-border-drawing($logoGreen, $logoPurple, 4px, bottom, right);
}

  //=== Button styling, semi-ignore
.btnCustoum {
    background: $logoGreen;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-size: 1.2rem;
    font-weight: 700;
    padding: 1em 2em;
    color: #fff;
    letter-spacing: 2px;
    &:focus { outline: 2px dotted $logoGreen; }
}

/*Custom Button at meduim screen*/
@media (min-width:762px) and (max-width:991px) {
    .btnCustoum {
        font-size: 0.8rem;
    }
}

/*Start Styling*/
body {
    background-color: #ddd;
}
/*NavBar*/
.navCustom {
    background-color: white;
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 2px;
    color: white;
}
/*About*/
.about {
    background-color: #fff;
    border-radius: 10px;
    img:hover {
        filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.5));
        transition: all 1s ease-in-out;
    }
    p , ul {
        font-size: 1.1rem;
        letter-spacing: 1px;
        color: $logoPurple;
        font-weight: bold;
    }
    ul {
        li {
            color: $logoPurple;
            span {
                color: $logoYellow;
            }
        }
    }
    
}
/* custom about at meduim screen*/
@media (min-width:762px) and (max-width:991px) {
    .about {
        p , ul {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
}
/*Service*/
.service {
    .card {
        border-radius: 10px;
        @include BoxShadow(1px, 3px, 10px, 5px, rgba(0,0,0,0.5));
        i {
            color: $logoYellow;
        }
        .card-title {
            color: $logoGreen;
            letter-spacing: 2px;
            font-weight: bold;
        }
        .card-text {
            color: $logoPurple;
            font-weight: 400;
        }
    }
}
.CallToAction {
    background: linear-gradient(rgba(40, 58, 90, 0.7), rgba(40, 58, 90, 0.7)), url("../img/fixed img.jpg") fixed center center;
    background-size: cover;
    p , h3{
        font-weight: 400;
        color: $logoYellow;
        font-size: 1.8rem;
        letter-spacing: 2px;
    }
    h3 {
        color: #fff;
        font-size: 2.5rem;
    }
}
/*Portfolio*/
.portfolio {
    background-color: #fff;
    border-radius: 10px;
    p {
        font-size: 1.3rem;
        font-weight: 400;
        color: $logoGreen;
        letter-spacing: 1px;
    }
    .portofolioBtnActive {
        width : 50px;
        cursor: pointer;
        display: inline-block;
        margin: 10px 0px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
        transition: all 0.3s;
        padding: 8px 5px;
        border-radius: 50px;
        background: $logoPurple;
    }
    .portofolioBtn {
        width : 50px;
        cursor: pointer;
        display: inline-block;
        margin: 10px 0px;
        font-size: 15px;
        font-weight: 500;
        line-height: 1;
        color: #444444;
        transition: all 0.3s;
        padding: 8px 5px;
        border-radius: 50px;
        &:hover
            {
                background: $logoPurple;
                color: #fff;
            }
    }
    img:hover{
        filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.5));
        cursor: pointer;
        transition: all 1s ease-in-out;
    }
}
/*Team*/
.team {
    .card-body {
        .card-title {
            color: $logoPurple;
            font-weight: bold;
            letter-spacing: 2px;
        }
        .card-text:last-of-type {
            color: $logoGreen;
            font-weight: 400;
        }
    }
}
/*Contact*/
.contact {
    background-color: #fff;
    border-radius: 10px;
    .card {
        .card-title {
            color:$logoPurple;
            font-size: 1.5rem;
            font-weight: bold;
            letter-spacing: 10px;
        }
    }
}
/*social*/
.social {
    ul {
        display:flex;
        justify-content: center;
        align-items: center;
        margin:0;
        padding:0;
        li {
            list-style:none;
            margin:0 5px;
            &:hover {
                .fab , span {
                    color: #fff;
                }
            }
            a {
                text-decoration: none;
                display:absolute;
                display:block;
                width:210px;
                height:80px;
                background: #fff;
                text-align:left;
                padding-left: 20px;
                transform: rotate(-30deg) skew(25deg) translate(0,0);
                transition:.5s;
                box-shadow: -20px 20px 10px rgba(0,0,0,.5);
                &::before {
                    content: '';
                    position: absolute;
                    top:10px;
                    left:-20px;
                    height:100%;
                    width:20px;
                    background: #b1b1b1;
                    transform: .5s;
                    transform: rotate(0deg) skewY(-45deg);
                }
                &::after {
                    content: '';
                    position: absolute;
                    bottom:-20px;
                    left:-10px;
                    height:20px;
                    width:100%;
                    background: #b1b1b1;
                    transform: .5s;
                    transform: rotate(0deg) skewX(-45deg);
                }
                &:hover {
                    transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
                    box-shadow: -50px 50px 50px rgba(0,0,0,.5);
                }
                .fab {
                    font-size: 40px;
                    color: #262626;
                    line-height:80px;
                    transition: .5s;
                    padding-right: 14px;
                }
                span {
                    padding:0;
                    margin:0;
                    position:absolute;
                    top: 30px;
                    color: #262626;
                    letter-spacing: 4px;
                    transition: .5s;
                }
            }
        }
        .facbook li:hover a{
            background: #3b5998;
        }
        .facbook li:hover a:before{
            background: #365492;
        }
        .facbook li:hover a:after{
            background: #4a69ad;
        }
    
        .twitter li:hover a{
            background: #00aced;
        }
        .twitter li:hover a:before{
            background: #097aa5;
        }
        .twitter li:hover a:after{
            background: #53b9e0;
        }
    
        .youtube li:hover a{
            background: #dd4b39;
        }
        .youtube li:hover a:before{
            background: #b33a2b;
        }
        .youtube li:hover a:after{
            background: #e66a5a;
        }
    
        .instagram li:hover a{
            background: #e4405f;
        }
        .instagram li:hover a:before{
            background: #d81c3f;
        }
        .instagram li:hover a:after{
            background: #e46880;
        }
    }
}
/*footer*/
.foot {
    background-color: #fff;
    border-radius: 10px;
    span {
        font-size: 1.1rem;
        a {
            text-decoration: none;
        }
    }
}