* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Cairo', sans-serif;
  scroll-behavior: smooth; }

/* common classes*/
.sectionTitle {
  text-align: center;
  padding-bottom: 30px; }
  .sectionTitle h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #93267D; }
    .sectionTitle h2::before {
      content: '';
      position: absolute;
      display: block;
      width: 120px;
      height: 1px;
      background: #669B41;
      bottom: 1px;
      left: calc(50% - 60px); }
    .sectionTitle h2::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 3px;
      background: #F9B72D;
      bottom: 0;
      left: calc(50% - 20px); }

/*box shadoow */
/*Custom Butoon*/
.draw-border {
  box-shadow: inset 0 0 0 4px #669B41;
  color: #669B41;
  transition: color 0.25s 0.0833333333s;
  position: relative; }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0; }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px; }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px; }
  .draw-border:hover {
    color: #93267D;
    background-color: #fff; }
    .draw-border:hover::before, .draw-border:hover::after {
      border-color: #93267D;
      transition: border-color 0s, width 0.25s, height 0.25s;
      width: 100%;
      height: 100%; }
    .draw-border:hover::before {
      transition-delay: 0s, 0s, 0.25s; }
    .draw-border:hover::after {
      transition-delay: 0s, 0.25s, 0s; }

.btnCustoum {
  background: #669B41;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1em 2em;
  color: #fff;
  letter-spacing: 2px; }
  .btnCustoum:focus {
    outline: 2px dotted #669B41; }

/*Custom Button at meduim screen*/
@media (min-width: 762px) and (max-width: 991px) {
  .btnCustoum {
    font-size: 0.8rem; } }
/*Start Styling*/
body {
  background-color: #ddd; }

/*NavBar*/
.navCustom {
  background-color: white;
  font-weight: bold;
  font-size: 1.3rem;
  letter-spacing: 2px;
  color: white; }

/*About*/
.about {
  background-color: #fff;
  border-radius: 10px; }
  .about img:hover {
    filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.5));
    transition: all 1s ease-in-out; }
  .about p, .about ul {
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #93267D;
    font-weight: bold; }
  .about ul li {
    color: #93267D; }
    .about ul li span {
      color: #F9B72D; }

/* custom about at meduim screen*/
@media (min-width: 762px) and (max-width: 991px) {
  .about p, .about ul {
    font-size: 0.8rem;
    font-weight: bold; } }
/*Service*/
.service .card {
  border-radius: 10px;
  box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 3px 10px 5px rgba(0, 0, 0, 0.5); }
  .service .card i {
    color: #F9B72D; }
  .service .card .card-title {
    color: #669B41;
    letter-spacing: 2px;
    font-weight: bold; }
  .service .card .card-text {
    color: #93267D;
    font-weight: 400; }

.CallToAction {
  background: linear-gradient(rgba(40, 58, 90, 0.7), rgba(40, 58, 90, 0.7)), url("../img/fixed img.jpg") fixed center center;
  background-size: cover; }
  .CallToAction p, .CallToAction h3 {
    font-weight: 400;
    color: #F9B72D;
    font-size: 1.8rem;
    letter-spacing: 2px; }
  .CallToAction h3 {
    color: #fff;
    font-size: 2.5rem; }

/*Portfolio*/
.portfolio {
  background-color: #fff;
  border-radius: 10px; }
  .portfolio p {
    font-size: 1.3rem;
    font-weight: 400;
    color: #669B41;
    letter-spacing: 1px; }
  .portfolio .portofolioBtnActive {
    width: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    transition: all 0.3s;
    padding: 8px 5px;
    border-radius: 50px;
    background: #93267D; }
  .portfolio .portofolioBtn {
    width: 50px;
    cursor: pointer;
    display: inline-block;
    margin: 10px 0px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 5px;
    border-radius: 50px; }
    .portfolio .portofolioBtn:hover {
      background: #93267D;
      color: #fff; }
  .portfolio img:hover {
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
    cursor: pointer;
    transition: all 1s ease-in-out; }

/*Team*/
.team .card-body .card-title {
  color: #93267D;
  font-weight: bold;
  letter-spacing: 2px; }
.team .card-body .card-text:last-of-type {
  color: #669B41;
  font-weight: 400; }

/*Contact*/
.contact {
  background-color: #fff;
  border-radius: 10px; }
  .contact .card .card-title {
    color: #93267D;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 10px; }

/*social*/
.social ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0; }
  .social ul li {
    list-style: none;
    margin: 0 5px; }
    .social ul li:hover .fab, .social ul li:hover span {
      color: #fff; }
    .social ul li a {
      text-decoration: none;
      display: absolute;
      display: block;
      width: 210px;
      height: 80px;
      background: #fff;
      text-align: left;
      padding-left: 20px;
      transform: rotate(-30deg) skew(25deg) translate(0, 0);
      transition: .5s;
      box-shadow: -20px 20px 10px rgba(0, 0, 0, 0.5); }
      .social ul li a::before {
        content: '';
        position: absolute;
        top: 10px;
        left: -20px;
        height: 100%;
        width: 20px;
        background: #b1b1b1;
        transform: .5s;
        transform: rotate(0deg) skewY(-45deg); }
      .social ul li a::after {
        content: '';
        position: absolute;
        bottom: -20px;
        left: -10px;
        height: 20px;
        width: 100%;
        background: #b1b1b1;
        transform: .5s;
        transform: rotate(0deg) skewX(-45deg); }
      .social ul li a:hover {
        transform: rotate(-30deg) skew(25deg) translate(20px, -15px);
        box-shadow: -50px 50px 50px rgba(0, 0, 0, 0.5); }
      .social ul li a .fab {
        font-size: 40px;
        color: #262626;
        line-height: 80px;
        transition: .5s;
        padding-right: 14px; }
      .social ul li a span {
        padding: 0;
        margin: 0;
        position: absolute;
        top: 30px;
        color: #262626;
        letter-spacing: 4px;
        transition: .5s; }
  .social ul .facbook li:hover a {
    background: #3b5998; }
  .social ul .facbook li:hover a:before {
    background: #365492; }
  .social ul .facbook li:hover a:after {
    background: #4a69ad; }
  .social ul .twitter li:hover a {
    background: #00aced; }
  .social ul .twitter li:hover a:before {
    background: #097aa5; }
  .social ul .twitter li:hover a:after {
    background: #53b9e0; }
  .social ul .youtube li:hover a {
    background: #dd4b39; }
  .social ul .youtube li:hover a:before {
    background: #b33a2b; }
  .social ul .youtube li:hover a:after {
    background: #e66a5a; }
  .social ul .instagram li:hover a {
    background: #e4405f; }
  .social ul .instagram li:hover a:before {
    background: #d81c3f; }
  .social ul .instagram li:hover a:after {
    background: #e46880; }

/*footer*/
.foot {
  background-color: #fff;
  border-radius: 10px; }
  .foot span {
    font-size: 1.1rem; }
    .foot span a {
      text-decoration: none; }

/*# sourceMappingURL=style.css.map */
