$logoGreen : #669B41;
$logoYellow : #F9B72D;
$logoPurple : #93267D;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
}
/*
    <div class="sectionTitle">
        <h2>About Us</h2>
    </div>
*/
/* common classes*/
.sectionTitle {
    text-align: center;
    padding-bottom: 30px;
    h2 {
        font-size: 32px;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: $logoPurple;
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 120px;
            height: 1px;
            background: $logoGreen;
            bottom: 1px;
            left: calc(50% - 60px);
        }
        &::after {
            content: '';
            position: absolute;
            display: block;
            width: 40px;
            height: 3px;
            background: $logoYellow;
            bottom: 0;
            left: calc(50% - 20px);
        }
    }
}

/*box shadoow */
@mixin BoxShadow ($HrShadow,$VrShadow,$Blur,$SpreadRadius8px,$rgba) {
    box-shadow: $HrShadow $VrShadow $Blur $SpreadRadius8px $rgba;
    -webkit-box-shadow: $HrShadow $VrShadow $Blur $SpreadRadius8px $rgba;
    -moz-box-shadow: $HrShadow $VrShadow $Blur $SpreadRadius8px $rgba;
}
body {
    background-color: #ddd;
}
/*NavBar*/
.navCustom {
    background-color: white;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 2px;
    color: white;
}
/*About*/
.about {
    background-color: #fff;
    border-radius: 10px;
    img:hover {
        filter: drop-shadow(4px 4px 6px $logoPurple);
        transition: all 1s ease-in-out;
    }
    p , ul {
        font-size: 1.1rem;
        letter-spacing: 1px;
        color: $logoPurple;
        font-weight: bold;
    }
    ul {
        li {
            color: $logoGreen;
            span {
                color: $logoYellow;
            }
        }
    }
}
/* custom about at meduim screen*/
@media (min-width:762px) and (max-width:991px) {
    .about {
        p , ul {
            font-size: 0.8rem;
            font-weight: bold;
        }
    }
}